.postText{
    font: 20px bold Arial, sans-serif;
    margin-bottom: 1em;
    display: block;
}
.post{
    border: 2px solid lightgrey;
    padding: 1em;
    margin-top: 1em;
    background-color: white;
}
.postEdit{
    margin-bottom: 1em;
}
#postings{
    border: 2px solid lightgray;
    margin: 2em;
    padding: 2em;
    background-color: rgb(185, 224, 248);
}
#newPostForm{
    border: 2px solid lightgray;
    margin: 2em;
    padding: 2em;
    position:relative;
}

#newPostForm > .btn {
    position:   absolute;
    right:      0;
    bottom:     0;
    margin:    0.5em;
}
#editPostInput{
    display: none;
    margin-bottom: 1em ;
}