{% extends "network/layout.html" %}

{% block body %}


    {% if user.is_authenticated %}

        {% if Posts %}
            <div id="postings">
                {% for post in Posts %}
                    <div class="post" data-postId= {{ post.id }}>
                        <div class="postText">
                            {{ post.text }}
                        </div>
                        {% if user == post.author %}
                            <div class="postEdit">
                                <button type="button"  class="btn btn-primary editPostBtn">Edit</button>
                            </div>
                        {% else %}
                            <div class="postAuthor">
                                {{ post.author }}
                            </div>
                        {% endif %}
                        
                        <div class="postDate">
                            {{ post.date_time }}
                        </div>
                        <div class="postLikes">
                            {% if post in user_liked %}
                                <i class="bi bi-heart-fill" id="likeBtn">{{ post.num_likes }}</i> 
                            {% else %}
                                <i class="bi bi-heart" id="likeBtn">{{ post.num_likes }}</i> 
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    {% endif %}

    
{% endblock %}