{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div>
            <h2>{{  user.username  }}</h2>  <button type="button" class="btn btn-primary">Follow</button>
        </div>
        <div>
            Followers: {{ num_followers }}  Following: {{ num_following }}
        </div>


        {% if user_posts %}
            <div id="postings">
                <h3>{{ user.username }}'s Posts</h3>
                {% for post in user_posts %}
                    <div class="post">
                        <div class="postText">
                            {{ post.text }}
                        </div>
                        <div class="postEdit">
                            <button type="button" class="btn btn-primary editPostBtn">Edit</button>
                        </div>
                        <div class="postDate">
                            {{ post.date_time }}
                        </div>
                        <div class="postLikes">
                        {{ post.num_likes }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    {% endif %}


{% endblock %}