{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div>
            <h2 id="usernameHeading" data-userid= {{ user_id }}>{{  user_name  }}</h2>  
            {% if user.username != user_name %}
                {% if user in followers %}
                    <button type="button" class="btn btn-primary" id="followUserBtn">Unfollow</button>
                {% else %}
                    <button type="button" class="btn btn-primary" id="followUserBtn">Follow</button>
                {% endif %}
            {% endif %}
        </div>
        <div>
            Followers: {{ num_followers }}  Following: {{ num_following }}
        </div>


        {% if user_posts %}
            <div id="postings">
                <h3>{{ user_name }}'s Posts</h3>
                {% for post in user_posts %}
                    <div class="post" data-postId= {{ post.id }}>
                        <div class="postText">
                            {{ post.text }}
                        </div>
                        <textarea type="textarea" class="form-control" id="editPostInput"  placeholder="" ></textarea>
                        {% if user == post.author %}
                            <div class="postEdit">
                                <button type="button"  class="btn btn-primary" id="editPostBtn">Edit</button>
                            </div>
                        {% endif %}
                        <div class="postDate">
                            {{ post.date_time }}
                        </div>
                        <div class="postLikes">
                        {{ post.num_likes }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    {% endif %}


{% endblock %}